<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="icon" href="img/img/bxs-home.svg" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../img/img/logo.jpg">
            <a href="../../index.html">Home</a>
        </div>
        <div class="perfil-user">
           <img class="golden" src="../../img/img/golden.jpg">
           <span>
               <strong>Bienvenido,</strong><br>usuario
               <img class="perfil" src="../../img/img/img1/bxs-right-arrow-circle.svg">
           </span>
        </div>
    </header>
  
    <section id="dashboard">

        <article id="menu-dash">
            <ul>
                <li class="item"><a href="usuario.html">Usuarios</a></li>
                <li class="item"><a href="../pedido/pedido.html">Pedidos</a></li>
                <li class="item"><a href="../producto/producto.html">Producto</a></li>
                <li class="item"><a href="../cliente/vliente.html">Cliente</a></li>
            </ul>
        </article>
     
        <article id="contenido">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Modi maxime animi culpa ad nostrum fugit commodi. Necessitatibus, 
                repellendus modi vitae quis quam et, accusamus amet minima dolore
                 magni eligendi saepe.
            </p>
        </article>
    
             

    </section>

</body>
</html>